<div
  class="job"
  ng-repeat="job in company.jobs | filter: search | filter:jobFilter | orderBy: '-date'"
  ng-class="{big: job.active}">
  <div class="job-info">
    <div class="job-title" href="{{job.url}}" ng-click="activateJob(job)">{{job.title}}</div>
    <a class="job-apply" href="{{job.url}}" ng-show="job.active">Apply</a>
    <div class="job-close" ng-click="activateJob(job)" ng-show="job.active">Close</div>
    <div class="job-location">{{job.location || "Remote"}}</div>
    <div class="job-tags">
      <div ng-repeat="tag in job.tags" ng-click="searchFor(tag);" class="{{getColor(tag)}} opaque">{{tag}}</div>
    </div>
    <div class="job-date">{{job.date | dateFilter}}</div>
  </div>
  <div class="job-description" ng-bind-html="job.content | trust"></div>
</div>
