.job {
  background: white;
  border-bottom: 1px solid rgb(40,40,40);
  display: block;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.job.big {
  height: 100%;
  left: 0;
  padding-top: 10px;
  position: fixed;
  top: 39px;
  width: calc(100% - 39px);
  z-index: 1;
}
.off .job {border-bottom: 0px solid black; height: 0px;}

.job-info {height: 60px; position: relative;}
.big .job-info, .job-description {margin: 0 auto; max-width: 800px; width: 90%;}
.job-title {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 8px 10px 4px 10px;
}
.job-date {font-size: 14px; padding: 2px 10px;}
.job-tags {
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 30px;
}
.job-apply, .job-close, .job-tags div {cursor: pointer; display: inline-block; padding: 4px;}
.job-apply, .job-close {background: rgb(220,220,220); font-size: 14px;}
.job-tags div {font-size: 12px; margin: 0px 5px;}
.job-tags div:last-child {margin: 0px 10px 0px 5px;}
.job-tags div:hover {opacity: 1;}
.job-description {
  box-sizing: border-box;
  font-size: 16px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 5px 10px 100px 10px;
}
.job-description img {width: 200px;}
