.job {
  background: white;
  border-bottom: 1px solid rgb(20,20,20);
  display: block;
  max-height: 50px;
  overflow: hidden;
  position: relative;
}

.job.big {max-height: 400px;}
.off .job {border-bottom: 0px solid black; height: 0px;}

.job-info {height: 50px; position: relative;}
.job-title {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  max-height: 23px;
  overflow: hidden;
  padding: 2px 10px;
}
.job-date {font-size: 14px; padding: 0px 10px;}
.job-location, .job-tags {display: inline-block; position: absolute; right: 0; text-align: right;}
.job-location {
  font-size: 14px;
  padding: 2px 5px;
  top: 0px;
}
.job-tags {
  bottom: -1px;
  height: 26px;
  overflow: hidden;
  max-width: 75%;
}
.job-apply, .job-close, .job-tags div {cursor: pointer; display: inline-block; padding: 4px;}
.job-apply, .job-close {background: rgb(220,220,220); font-size: 14px;}
.job-tags div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-size: 12px;
  height: 100%;
}
.job-tags div:first-child {
  border-left: 1px solid black;
}
.job-tags div:hover {opacity: 1;}
.job-description {
  box-sizing: border-box;
  font-size: 14px;
  max-height: 340px;
  overflow-y: scroll;
  padding: 5px 40px 20px 40px;
}
.job-description img {width: 200px;}
