/* Company */
.company
  display: block
  margin: 10px auto
  max-width: 800px
  opacity: 1
  width: 90%
  &.off
    opacity: 0.5

.company-name
  @extend .darkgrey
  cursor: default
  font-size: 20px
  max-height: 27px
  overflow: hidden
  padding: 5px 10px

.more-container
  text-align: center
.more
  @extend .lightgrey
