/* Top Nav */
.title, .menu {color: white; position: fixed; z-index: 4;}
.title {cursor: default; font: 19px "Yellowtail"; left: 40px; padding: 7px 5px 7px 0px;}
.search {
  background: white;
  border-left: 110px solid rgb(20,20,20);
  height: 40px;
  position: fixed;
  right: 0;
  text-align: left !important;
  top: -41px;
  transition: .2s all;
  width: 100%;
  z-index: 2;
}
.isScrolled .search {transform: translate3d(0,40px,0);}
.sidebarOpen.isScrolled .search {transform: translate3d(110px,40px,0);}
.cancel {
  color: black;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

/* Heading */
.heading {
  color: white;
  font: 700 100px "Yellowtail";
  padding: 120px 0 40px 0;
  text-align: center;
  transition: .4s all;
}
.isScrolled .heading, .isScrolled .hero {transform: translate3d(0,-340px,0);}
.hero {
  background: rgba(245,245,245,.9);
  display: block;
  margin: 0 auto;
  max-width: 800px;
  transition: .3s all;
  width: 90%;
}
.hero input {
  font: 16px "Segoe UI", "Helvetica Neue", "Roboto";
  padding: 10px;
  width: 100%;
}

/* Sign in */
#signin {
  background: rgb(20,20,20);
  top: 0px;
  font-size: 0px;
  height: 40px;
  position: fixed;
  right: 0px;
  width: 220px;
  z-index: 3;
}
#signin .link {
  color: white;
  font-size: 14px;
  text-align: center;
  width: 110px;
}
#signin .link:hover {background: black;}
