<input class="hero" type="text" ng-model="search" placeholder="Search Jobs">

<div class="company"
  ng-repeat="company in lists.companies | filter:search | filter:companyFilter | orderBy: '-latest' | limitTo:companyLimit"
  ng-class="{off: company.off}">
  <div class="company-name" ng-click="company.off = !company.off"><strong>{{company.name}}</strong></div>
  <joblist></joblist>
</div>

<div class="more-container">
  <div class="link more" ng-click="loadMore(page)" ng-show="atBottom">Load More Jobs</div>
</div>
