.red {background: rgb(125, 25, 25); color: white;}
.green {background: rgb(60, 175, 100); color: white;}
.blue {background: rgb(25, 25, 125); color: white;}
.yellow {background: yellow; color: black;}
.white {background: white; color: black;}
.grey {background: rgb(80,80,80); color: white;}
.lightgrey {background: rgb(200,200,200); color: black;}
.darkgrey {background: rgb(40,40,40); color: white;}
.purple {background: rgb(125,25,125); color: white;}
.orange {background: rgb(180, 100, 50); color: white;}

.opaque {opacity: .8;}

.link {
  box-sizing: border-box;
  display: inline-block;
  font: 16px "Segoe UI";
  padding: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}
